html, body {
    font-family: sans-serif;
    /*height: 100%;*/
    margin: 0px;
    padding: 0px;
}

#div-menus {
    background-color: #CFCBCA;
}

#div-main {
    background-color: #FFFFFF;
    border: 3px solid #CFCBCA;
    padding-top: 10px;
    padding-bottom: 10px;
}

#slide {
    box-sizing: content-box;
    width: 740px;
    height: 560px;
    /*overflow: scroll;*/
}

canvas {
    box-sizing: content-box;
    width: 720px;
    height: 540px;
    border: 5px solid #d18282;
    z-index: 100;
    position: relative;
}

.target {
    display: block;
    max-height: 100%;
    border: 0;
}

.content {
    display: inline-block;
}

.content.notvis {
    visibility: hidden;
}

.btn {
    margin: 5px;
}