html, body {
    font-family: sans-serif;
    /*height: 100%;*/
    margin: 0px;
    padding: 0px;
}

.slide-container {
    width: 410px;
    height: 310px;
    overflow: auto;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.slide-container {

    position: relative;
    margin: 0 auto;
    background: white;
    border: 1px solid black;
    /*padding-bottom: 50px;*/


}

.slide {
    /*width: 100%;*/
    /*height: 100%;*/
    display: inline-block;
    border: 1px solid darkred;
}

canvas {
    width: 400px;
    height: 300px;
    z-index: 100;
}

.target {
    display: block;
    max-height: 100%;
    border: 0;
}

.content {
    display: inline-block;
}

.content.notvis {
    visibility: hidden;
}


.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    margin: 5px;
}