html, body {
    font-family: sans-serif;
    /*height: 100%;*/
    margin: 0px;
    padding: 0px;
}

#div-menus {
    background-color: #CFCBCA;
}

#div-main {
    background-color: #FFFFFF;
    /*border: 3px solid #CFCBCA;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

#div-slide {
    display: flex;
}

#slide {
    display: flex;
    box-sizing: content-box;
    width: 740px;
    height: 560px;
    overflow: scroll;
}

canvas {
    box-sizing: content-box;
    /*width: 720px;*/
    /*height: 540px;*/
    border: 3px solid #CFCBCA;
    z-index: 100;
    /*overflow: auto;*/
    /*position: relative;*/
}

.target {
    display: block;
    max-height: 100%;
    border: 0;
}

.content {
    display: inline-block;
}

.content.notvis {
    visibility: hidden;
}

.btn {
    margin: 5px;
}

.thumbnail {
    height: 150px;
    margin: 0;
}

.img-box {
    display: inline-block;
    overflow: hidden;
}

.img-box:hover .img-overlay{
    opacity: 1;
    border: solid dimgrey 5px;
    cursor: pointer;
}

.img-box:hover .symbol-insert{
    opacity: 1;
}

.img-overlay {
    border-radius: 5px;
    border: solid #fff 5px;
    display: inline-block;
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity .25s ease;
}

.symbol-insert {
    position: absolute;
    font-family: Helvetica;
    font-weight: 900;
    color: rgba(0,0,0,.75);
    opacity: 0;
    font-size: 90px;
    margin-left: -25px;
}
